.botonEditar{
    padding: 10px;
    width: 150px;
    height: fit-content;
}

.editarUsuario{
    padding: 50px;
    width: 400px;
}


.editarUsuario .editarInput{
    padding: 10px;
    width: 100%;
    border: solid 1px orange;
    border-radius: 25px;
    margin: 5px;
}

a{
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: none;
  }



.confirmar{
    font-size: 15px;
    padding: 10px 20px;
}

.cerrarSesion:hover{
    background: linear-gradient(90deg, #F66C0B 0%, #FBAE43 96.79%);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    border: none;
}
