.conteiner{ 
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.ior{
    position: relative;
    margin-top: 60px;
    font-family: "Roboto", bold;
    font-size: 30px;
    color: #123b2b;
}
@media (min-width: 991px) {
    .ior{
        position: relative;
        margin-top: 50px;

    }
    .ior span{
        font-family: "Roboto", bold;
        font-size: 50px;
        color: blue;
    }
    .registrarse{
      font-size: 50px;
    }
    
}
@media(min-width: 1001px){
    .logomobile{
      display:none;
      margin-top: 50px;
    }
}

@media (max-width: 1000px){
    .logoescitorio{
      display:none;
    }
    .logomobile{
      display: block;
    }
}
@media (min-width: 991px) {
    .registrarse{
      font-size: 50px;
    }
}
.ior{
    position: relative;
    margin-top: 100px;
}
.ior span{
    font-family: "Roboto", bold;
    font-size: 50px;
    color: #123b2b;
}
.form-registrarNaranja{
    border: 3px solid #F0700B;
    width: 400px;
}

.form-registrarVerde{
    border: 3px solid #277254;
    background-color: white;
    outline: none;
    width: 400px;
}
.iniciarOregistrar{
    border-radius: 50px;
    outline: none;
    background-color: white;
    width: 400px;
}
.btn-iniciarSesion a{
    background: linear-gradient(to right, #f0b13c, #F0700B);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 50px;
    font-family: "Roboto", thick;

}
.btn-iniciarSesion a:hover{
    background: linear-gradient(to right, #ffc353, #ff913c);
}
.btn-registrar a:hover{
    background: linear-gradient(to right, #3da87d, #17533b);
}

.btn-registrar a {
    background: linear-gradient(to right, #277254, #133829);
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 50px;
    font-family: "Roboto", thick;
}
.btn-registrar{
    margin-top:30px;
    text-align: left;
}
