*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    width: 220px;
    height: 100%;
    background: linear-gradient(180deg, #F66A09 0%, #FBB044 100%);
    position: fixed;
    overflow: hidden;
    left: 0;
}

.menu .logo{
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
    float: left;
    display: block;
}



.menu .seccionMenu{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    
    margin-bottom: 25px;
    cursor: pointer;
}

.menu .hover{
    color: #ffffff;
}

.menu .hover:hover{
    color: #3b3b3b;
}

.menu .icono{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    cursor: pointer;

    margin-bottom: 25px;
}

.menu .infoPerfil{
    font-size: 50px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
}

.menu .infoPerfil .nombre{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 15px;
}

.menu .infoPerfil .usuario{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 15px;
    color: white;
}



.menu-celular{
    background: linear-gradient(89.96deg, #F66B0A 0.03%, #FBB044 99.96%);
    
    font-size: 20px;
    padding: 25px;
    text-align: center;
    
}

.menu-celular .icono{
    color: white;
    cursor: pointer;
    margin: 5px;
}

.menu-celular .icono:hover{
    color: #3b3b3b;
}

@media (min-width: 1200px) {
    .menu .icono{
        text-align: right;
    }
}

@media (max-width: 1200px) {
    .seccionMenu{
        display: none;
    }
    .infoPerfil .perfil{
        display: none;
    }
    .infoPerfil {
        left: 35%;
    }
    .menu .icono{
        text-align: center;
        font-size: 30px;
    }

}

@media (min-width: 767px) {
    .menu-celular{
        display: none;
    }
}

@media (max-width: 767px) {
    .menu{
      display:none;
    }
}

