.navbar{
    width: 100%;
    height: 60px;
    background: linear-gradient(89.96deg, #F66B0A 0.03%, #FBB044 99.96%);
    margin:0;
    padding:0;
    align-items: center;
}
.top {
 text-decoration: none;
 display:inline;
 color: white;
}
.headertop{ 
  
  margin:0;
}

