.publicacion{
    border-radius: 25px;
    border: 1px solid #000000;
    background-color: white;
    margin: 20px;
}

.publicacion .avatar{
    width: 40px;
    height: 40px;
    border-radius:150px;
    margin: 10px;
}

.publicacion .nombre{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    float: left;

}

.publicacion .texto{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    text-align: left;
}

.publicacion .fecha{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    float: right;
}

.publicacion .imagen{
    width: 100%;
    max-height: auto;
}

.like{
    height: 50px;
}

.disable-selection{
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
}

.dckAxC{
    position: absolute;
    top: -30px;
    left: 0;
    margin-right: 5px;
}

.jKRSSX{
    position: absolute;
    top: -30px;
    left: 0;
    margin-right: 5px;
}

.comment{
    font-size: 30px;
    margin-top: 5px;
    float: left;
    color: #A7B8C3;
    cursor: pointer;
}

.comment:hover{
    color: #949494;
}