.publicacion{
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
    margin: 10px;

}

.publicacion .imagen{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.publicacion .nombre{
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    float: left;

}

.textoCorto{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.publicacion .texto{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #000000;
    text-align: left;
}

.publicacion .fecha{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    float: right;
}

.publicacion .imagen{
    width: 100%;
    max-height: auto;
}

.interacciones{
    margin-bottom: 5px;
}

.comment{
    font-size: 1.5em;
    color: #104D3B;
    cursor: pointer;
}

.comment:hover{
    color: #092c22;
}

.heart{
    font-size: 1.5em;
    color: #104D3B;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    cursor: pointer;
}

@keyframes beat{
	to { transform: scale(1.4); }
}

.isLiked{
    color: #F44336;
    animation: beat .25s alternate 2;
	transform-origin: center;
}

.tresPuntitos{
    cursor: pointer;
}

.publicacion.b{
    border: 1px solid #67BC52;
}

.publicacion.b .nombre{
    color: #67BC52;
}

.publicacion.c{
    border: 1px solid #FFD983;
}

.publicacion.c .nombre{
    color: #FFD983;
}

.publicacion.d{
    border: 1px solid #84A9D9;
}

.publicacion.d .nombre{
    color: #84A9D9;
}

.publicacion.e{
    border: 1px solid #ED4C5C;
}

.publicacion.e .nombre{
    color: #ED4C5C;
}


