
*:focus{
  outline: none;
}

.floating-container{
	background-color: white;
	border-radius: 20px;
	z-index: 2;
	box-shadow: 0 0 10px -3px black;
	overflow: hidden;
}

.btnNaranjaInvertido:focus {
  outline: none;
}

.btnNaranja:focus {
  outline: none;
}

.btnVerde:focus {
  outline: none;
}

.btnVerdeInvertido:focus {
  outline: none;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius:150px;
  margin: 10px;
  background-size: cover;
}

.publicaciones{
  margin-bottom: 75px;
}

.btnNaranja{
  background: linear-gradient(90deg, #F66C0B 0%, #FBAE43 96.79%);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}



.btnNaranjaInvertido{
  border: 1px solid transparent;
  align-self: center;
  background: white;
  border-color: #F66C0B;
  color: #F66C0B;
  border-radius: 15px;
  width: 100px;
  height: 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  border-radius: 25px;
  line-height: 12px;
}


.btnVerde{
  background: linear-gradient(90deg, #104D3B 0%, #267053 100%);
  border-radius: 25px;
  color: white;
  cursor: pointer;
  border: none transparent;
  font-style: normal;
  font-weight: normal;
  
  line-height: 12px;
}



.btnVerdeInvertido{
  border-radius: 25px;
  border: 1px solid transparent;
  align-self: center;
  background: white;
  border-color: #236C50;
  color: #236C50;
  width: 100px;
  height: 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
}
.inputFile{
display: block;
margin-top:10px;
}